@keyframes slideInFromLeft {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

@keyframes slideOutToLeft {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.slide-in {
    animation: slideInFromLeft 0.3s ease-out;
}

.slide-out {
    animation: slideOutToLeft 0.3s ease-out;
}

/* Ensure the sidebar is below the header on mobile */
@media (max-width: 1023px) {
    #sidebar {
        top: 64px; /* Adjust this value based on your header height */
        height: calc(100% - 64px);
    }
}
